<!--
<form action="myservlet.do" method="get">
    <select name="myselect" id="myselect" onchange="this.form.submit()">
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
    </select>
-->

<form action="/here/" method="get">    
    <span>    
        <select id="sel">
        <option>請選擇時間段</option>
        <option>近一週</option>
        <option>近一個月</option>
        <option>近三個月</option>
        <option>近半年</option>
        </select>
    </span>
    <span> 
        <select id="sel">
            <option>請選擇主要品牌</option>
            <option>World Gym</option>
            <option>健身工廠</option>
            <option>True Fitness</option>
            <option>運動中心</option>
        </select>
    </span>
    <span>
        <select id="sel">
        <option>請選擇競品品牌</option>    
        <option>World Gym</option>
        <option>健身工廠</option>
        <option>True Fitness</option>
        <option>運動中心</option>
        </select>
    </span>
    <span class="sendbutton">
        <input type="submit" value="搜尋" >
    </span>
</form>